@mixin font($weight){
    font-family: 'Inter', sans-serif;
    font-weight: $weight;
}
@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin displayGrid($columns){
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat($columns, 1fr);
}
