@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(36deg, 100%, 99%);
  margin: 0 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
body h1 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 3rem;
  line-height: 3rem;
  color: hsl(240deg, 100%, 5%);
}
body h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin: 1.5rem 0;
}
body h3 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0.8rem 0;
}
body p {
  line-height: 1.6rem;
  color: hsl(236deg, 13%, 42%);
}

header {
  width: 100%;
  background-color: hsl(36deg, 100%, 99%);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  z-index: 1;
}
header .logo {
  padding: 1rem;
}
header .logo:hover {
  cursor: pointer;
}
header .desktop-menu {
  list-style-type: none;
  display: none;
  color: hsl(240deg, 100%, 5%);
}
header .desktop-menu li:hover {
  cursor: pointer;
  color: hsl(35deg, 77%, 62%);
}
header .mobile-menu {
  padding: 1rem;
}
header .mobile-menu .close {
  display: none;
}
header .mobile-menu:hover {
  cursor: pointer;
}
header .mobile-menu:hover img {
  filter: invert(79%) sepia(83%) saturate(1212%) hue-rotate(321deg) brightness(100%) contrast(83%);
}

.sidebar-wrapper {
  display: none;
  padding: 1.5rem;
  height: 100vh;
  width: 70%;
  position: fixed;
  right: 0;
  background-color: hsl(36deg, 100%, 99%);
  z-index: 2;
}
.sidebar-wrapper .menu {
  list-style-type: none;
  margin-top: 7rem;
  color: hsl(240deg, 100%, 5%);
}
.sidebar-wrapper .menu li {
  margin: 1.5rem 0;
}
.sidebar-wrapper .menu li:hover {
  cursor: pointer;
  color: hsl(35deg, 77%, 62%);
}
.sidebar-wrapper img {
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 10px;
}
.sidebar-wrapper img .close {
  display: none;
}
.sidebar-wrapper img:hover {
  cursor: pointer;
  filter: invert(79%) sepia(83%) saturate(1212%) hue-rotate(321deg) brightness(100%) contrast(83%);
}

.main-content {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: 1;
}
.main-content .thumbnail img {
  width: 100%;
}
.main-content .thumbnail .desktop-img {
  display: none;
}
.main-content .desc-wrapper {
  margin: 1.5rem 0;
}
.main-content .desc-wrapper button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-weight: 800;
  margin: 1.5rem 0;
  padding: 1rem 2rem;
  letter-spacing: 0.3rem;
  background-color: hsl(5deg, 85%, 63%);
  color: hsl(36deg, 100%, 99%);
}
.main-content .desc-wrapper button:hover {
  cursor: pointer;
  background-color: hsl(240deg, 100%, 5%);
}
.main-content .new-articles {
  background-color: hsl(240deg, 100%, 5%);
  margin: 3rem 0;
  padding: 1.5rem 1.5rem;
}
.main-content .new-articles h2 {
  margin-top: 0;
  color: hsl(35deg, 77%, 62%);
}
.main-content .new-articles h3 {
  color: hsl(36deg, 100%, 99%);
  margin: 0.5rem 0;
}
.main-content .new-articles h3:hover {
  cursor: pointer;
  color: hsl(35deg, 77%, 62%);
}
.main-content .new-articles .new-1 {
  margin-top: 2.5rem;
  padding-bottom: 1.5rem;
}
.main-content .new-articles .new-2 {
  border-top: 1px solid hsl(236deg, 13%, 42%);
  border-bottom: 1px solid hsl(236deg, 13%, 42%);
  padding: 1.5rem 0;
}
.main-content .new-articles .new-3 {
  padding-top: 1.5rem;
}
.main-content .articles .desc-wrapper {
  margin-left: 1.5rem;
}
.main-content .articles img {
  width: 8rem;
}
.main-content .articles h2 {
  margin-top: 0;
  margin-bottom: 0.8rem;
  font-size: 2rem;
  color: hsl(233deg, 8%, 79%);
}
.main-content .articles h3 {
  color: hsl(240deg, 100%, 5%);
}
.main-content .articles h3:hover {
  cursor: pointer;
  color: hsl(35deg, 77%, 62%);
}
.main-content .articles .article-1 {
  display: flex;
  margin: 3rem 0;
}
.main-content .articles .article-2 {
  display: flex;
  margin: 3rem 0;
}
.main-content .articles .article-3 {
  display: flex;
  margin: 3rem 0;
}

@media only screen and (min-width: 700px) {
  body {
    min-height: 100vh;
    max-width: 1100px;
    margin: 0 auto;
  }
  header {
    position: static;
    padding-right: 1rem;
  }
  header .main-menu {
    flex-basis: 450px;
  }
  header .mobile-menu {
    display: none;
  }
  header .desktop-menu {
    display: flex;
    justify-content: space-between;
  }
  .sidebar-wrapper {
    display: none;
  }
  .main-content {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 2rem;
    margin-top: 0;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .main-content .thumbnail {
    grid-column: 1/9;
    grid-row: 1/3;
  }
  .main-content .thumbnail .mobile-img {
    display: none;
  }
  .main-content .thumbnail .desktop-img {
    display: block;
  }
  .main-content .desc-wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 2rem;
    grid-column: 1/9;
    grid-row: 3/5;
    margin: 0;
  }
  .main-content .desc-wrapper .title {
    grid-column: 1/5;
  }
  .main-content .desc-wrapper .desc {
    grid-column: 5/9;
  }
  .main-content .new-articles {
    grid-column: 9/13;
    grid-row: 1/5;
    margin: 0;
  }
  .main-content .articles {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1/13;
    grid-row: 5/6;
    margin: 0;
  }
  .main-content .articles .article-1 {
    grid-column: 1/5;
  }
  .main-content .articles .article-2 {
    grid-column: 5/9;
  }
  .main-content .articles .article-3 {
    grid-column: 9/13;
  }
  .main-content .articles .desc-wrapper {
    display: block;
    margin: 0;
    margin-left: 1.5rem;
  }
  .main-content .articles img {
    max-height: 200px;
  }
}/*# sourceMappingURL=style.css.map */